<h1>Listing repair_requests</h1>

<table>
  <tr>
    <th>Open date</th>
    <th>Close date</th>
    <th>Request details</th>
    <th>Request response</th>
    <th>Submitter</th>
    <th>Responder</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% str = (can? :manage, :all)?'@repair_requests':'@approved_requests' %>
<% eval(str).each do |repair_request| %>
  <tr>
    <td><%if repair_request.open_date %><%= repair_request.open_date.strftime("%m/%d/%Y") %><%end%></td>
    <td><%if repair_request.close_date %><%= repair_request.close_date.strftime("%m/%d/%Y") %><%end%></td>
    <td><%if repair_request.request_details %><%= repair_request.request_details %><%end%></td>
    <td><%if repair_request.request_response %><%= repair_request.request_response %><%end%></td>
    <td><%if repair_request.submitter %><%= repair_request.submitter.username %><%end%></td>
    <td><%if repair_request.responder %><%= repair_request.responder.username %><%end%></td>
    <td><%= link_to 'Show', repair_request %></td>
    <td><%= link_to 'Edit', edit_repair_request_path(repair_request) %></td>
    <td><%= link_to 'Destroy', repair_request, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<% if can? :manage, current_user %>

<%= link_to 'New Repair request', new_repair_request_path %>

<%end%>
