<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Lease:</b>
  <%= @user.unit.name %>
</p>

<p>
  <b>Submitted Reports:</b>
  <em>To be entered later</em>
</p>

<p>
  <b>Approved Reports:</b>
  <em>To be entered later</em>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
