<h1>Listing leases</h1>

<table>
  <tr>
    <th>Start date</th>
    <th>End date</th>
    <th>Rent</th>
    <th>Unit</th>
    <th>Renters</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% str = (can? :manage, :all)?'@leases':'@approved_leases' %>
<% eval(str).each do |lease| %>
  <tr>
    <td><%= lease.start_date %></td>
    <td><%= lease.end_date %></td>
    <td>$<%= lease.rent %>/mo</td>
    <td><%= lease.unit.name %></td>
    <td><% lease.renters.each do |c| %>
    	  <li><%=c.username%></li>
    	<% end %></td>
    <td><%= link_to 'Show', lease %></td>
    <% if can? :manage, :all %>
    <td><%= link_to 'Edit', edit_lease_path(lease) %></td>
    <td><%= link_to 'Destroy', lease, confirm: 'Are you sure?', method: :delete %></td>
    <%else%>
    <td /><td />
    <%end%>
  </tr>
<% end %>
</table>

<br />

<% if can? :manage, :all %><%= link_to 'New Lease', new_lease_path %><%end%>
