<p>
  <b>Start date:</b>
  <%= @lease.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @lease.end_date %>
</p>

<p>
  <b>Rent:</b>
  $<%= @lease.rent %> /mo
</p>

<p>
  <b>Unit:</b>
  <%= @lease.unit.name %>
</p>

<p>
  <b>Renters:</b>
  <% @lease.renters.each do |c| %>
    <li><%=c.username%></li>
  <% end %>
</p>


<%= link_to 'Edit', edit_lease_path(@lease) %> |
<%= link_to 'Back', leases_path %>
