<p>
  <b>Name:</b>
  <%= @unit.name %>
</p>

<p>
  <b>Square feet:</b>
  <%= @unit.square_feet %>
</p>

<p>
  <b>Property:</b>
  <%= @unit.property.name %>
</p>

<p>
  <b>Renters</b>
  <% @unit.renters.each do |c| %>
    <li><%=c.username%></li>
  <% end %>
</p>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
